.col-md-4.col-md-off-set-4
  %table.table.table-hover
    %thead
      %tr
        %th.glyphicon.glyphicon-check
        %th Project
        %th
        %th

    %tbody
      - @lists.each do |list|
        %tr
          %th.glyphicon.glyphicon-check
          %th= link_to(list.title, list_path(list))
          %th= list.content
          %th= link_to("Edit", edit_list_path(list), class: "btn btn-sm btn-info")
          %th= link_to("Delete", list_path(list), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are You Sure?"})

